<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>573753465747-cha96i97imvsc44rranp2a7bpstkada0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.573753465747-cha96i97imvsc44rranp2a7bpstkada0</string>
	<key>API_KEY</key>
	<string>AIzaSyDjLVtjTsbJadxeieWV9EL_ZJOXYaTuOh4</string>
	<key>GCM_SENDER_ID</key>
	<string>573753465747</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.LoFi.BarFly</string>
	<key>PROJECT_ID</key>
	<string>barfly-reformat</string>
	<key>STORAGE_BUCKET</key>
	<string>barfly-reformat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:573753465747:ios:7f64345740014e157c2666</string>
	<key>DATABASE_URL</key>
	<string>https://barfly-reformat.firebaseio.com</string>
</dict>
</plist>